*.o
Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/.deps
/config.*
/libtool
/ltmain.sh
/omf.make
/stamp-h1
/xmldocs.make
*.gz
*.bz2
Makefile
bin-search
gzip-chunks
whoiz
md5sum
sha1sum
